<!DOCTYPE html>
<html ng-app="trackmywords">
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

	<title>
		TrackMyWords | Admin
	</title>

</head>

<body>

	<div class="row col-sm-offset-1">
		<div class="col-sm-6">
			<h1>TrackMyWords <small>Admin Page</small></h1>
		</div>
	</div>

	<div class="row col-sm-offset-1">
		<div class="col-sm-1">
			<a href="#viewall" class="btn btn-default">View All</a>
		</div>
	    <div class="col-sm-1">
			<a href="#add" class="btn btn-default">Add Song</a>
		</div>
	</div>
<br/>

<!-- content -->
<!-- content -->
<div class="jumbotron">
	<div ng-view></div>
</div>
<!-- content -->
<!-- content -->
<script src="../public/js/libs/angular.js"></script>
<script src="../public/js//libs/angular-route.js"></script>
<script src="../public/js/app.js"></script>
<script src="../public/js/router.js"></script>
<script src="../public/js/controllers/index.js"></script>
<script src="../public/js/controllers/view.js"></script>

</body>

<footer>
	<hr>
	<div class="row col-sm-offset-2">
    	<div class="col-sm-4">
			<span class="glyphicon glyphicon-phone"></span> TrackMyWords <br />
			<span class="glyphicon glyphicon-copyright-mark"></span> Team Paniuta, 2015 <br />
			<span class="glyphicon glyphicon-education"></span> Centennial College
		</div>
	</div>
</footer>
</html>