<script type="text/javascript">
function confirmRemove(){
var remove=confirm("Are you sure you want to delete this song");
if(remove){
alert("Song is removed");
}
}
</script>

<!-- DISPLAYS ALL THE SONGS -->
<div class="row">
<div class="col-sm-offset-1 col-sm-10">

<table class="table">
<!-- temporary placeholders -->

<tr>
	<td>Artist Name</td>
	<td>Song Title</td>
	<td>Album Name</td>
	<td>Year</td>
	<td colspan=2></td>
</tr>

<tr>
    
     <td>Natasha Bedingfield</td>
     <td>Pocketful of Sunshine</td>
     <td>Pocketful of Sunshine</td>
     <td>2008</td>
     
     <td><a href="#update">Update</a></td>
     <td><a href="#" onclick="confirmRemove()">Remove</a></td>
</tr>

<tr>
    
     <td>Justin Bieber</td>
     <td>Baby</td>
     <td>My World</td>
     <td>2010</td>
     
     <td><a href="#update">Update</a></td>
     <td><a href="#" onclick="confirmRemove()">Remove</a></td>
</tr>

<tr>
    
     <td>Celine Dion</td>
     <td>My Heart Will Go On</td>
     <td>Let's Talk About Love</td>
     <td>1997</td>
     
     <td><a href="#update">Update</a></td>
     <td><a href="#" onclick="confirmRemove()">Remove</a></td>
</tr>

</table>
</div>
</div>