<!-- DISPLAYS ALL THE SONGS -->
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">

        <table class="table">
            <!-- temporary placeholders -->

            <thead>
                <tr>
                    <th>Song Title</th>
                    <th>Artist Name</th>
                    <th>Song Lyrics</th>
                    <th>Album Name</th>
                    <th colspan=2></td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in list">
                    <td>{{item.songTitle}}</td>
                    <td>{{item.artistName}}</td>
                    <td>{{item.songLyrics}}</td>
                    <td>{{item.albumTitle}}</td>
                    <td>
                        <button class="btn btn-primary glyphicon glyphicon-edit" ng-click="update()">Update</button>
                        <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove(item.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>