<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- possibly javascript for form validation -->

	<title>
		TrackMyWords | Admin
	</title>
	
	<div class="col-sm-offset-1 col-sm-10">
		<h1>TrackMyWords <small>Admin Page</small></h1>
	</div>
	
</head>

<body>

<!-- content -->
<!-- content -->
<!-- content -->

</body>

<footer>
	<hr>
	<div class="row col-sm-offset-2">
    <div class="col-sm-4">
		<span class="glyphicon glyphicon-phone"></span> TrackMyWords <br />
		<span class="glyphicon glyphicon-copyright-mark"></span> Team Paniuta, 2015 <br />
		<span class="glyphicon glyphicon-education"></span> Centennial College
	</div>
    <!-- <div class="col-sm-3">
    	<ul>
	    	<li>Andrew Cumming</li>
	    	<li>Luke Farnell</li>
	    	<li>Amina Abbasi</li>
    	</ul>
	</div>
    <div class="col-sm-3">
    	<ul>
	    	<li>Andrew Cumming</li>
	    	<li>Luke Farnell</li>
	    	<li>Amina Abbasi</li>
    	</ul>
	</div> -->
	</div>
</footer>

</html>